.card-title{
    font-size: 32px;
}

.card-body{
    width: 100%;
}

.data{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.time{
    text-align: right; 
}

.date{
    text-align: right;  
}

.btn-google {
    color: white !important;
    background-color: #ea4335;
}
  
.btn-facebook {
    color: white !important;
    background-color: #3b5998;
}