@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContainer{
    background-color:#2F4858 ;
    min-width: 100vw;
    min-height: 100vh;
}

.innerContainer{
    margin-top: 5%;
}

.logoHeader{
    font-family: Montserrat;
    color: white;
    font-size:32px;
    text-align: center;
    margin: 0;
}

#f-label{
    font-family: Montserrat Thin;
    color: #97B0AA;
    font-size: 18px;
    margin-left: -24%;
}

.subHeader{
    font-family: Montserrat Thin;
    color: #97B0AA;
    font-size: 18px;
    text-align: center;
}

.input-box{
    display: block;
    width: 30%;
    height: 40px;
    border-color:  #00A78E;
    box-sizing: border-box;
    background: transparent;
    border-style: solid;
    border-radius: 10px;
    padding: 2%;
    font-family: Montserrat;
    color:white;
    font-size: 14px;
}

#pw{
    font-size: 30px;
}

#rpw{
    font-size: 30px;
}

#rpw2{
    font-size: 30px;
}

input:focus { 
    outline: none !important;
    border-color: #05e7c5;
 }

 a.fgg{
    margin-right: -270px;
    color:#97B0AA;

}

 .fg a:hover{

     text-decoration: none;
     color:#05e7c5!important;
 }

 .sub {
     font-family: Montserrat;
     background-color:#00A78E;
     color: white;
     width: 30%;
     padding: .4em;
     margin: 1%;
     border: none;
     border-radius: 10px;
     font-size: 20px;
 }
 .error{
     color: rgb(228, 89, 89);
     padding: .5em;
 }

 .sub:hover{
    background-color:#05e7c5;
}

.subb {
    font-family: Montserrat;
    background-color:#00A78E;
    color: white;
    width: 100%;
    padding: .4em;
    margin: 1%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.subb:hover{
   background-color:#05e7c5;
}

.opt{
    color: #97B0AA;
}

.or{
    margin-top: .5%;
}

a.su{
    color:#00A78E;
    text-decoration:none;
}


 .fg a:hover{
     text-decoration: none;
     color:#05e7c5!important;
 }

 .pww{
     margin-bottom: 2%;
 }

 .input-boxx{
    height: 40px;
    width: 100%;
    border-color:  #00A78E;
    box-sizing: border-box;
    background: transparent;
    border-style: solid;
    border-radius: 10px;
    padding: 2%;
    font-family: Montserrat;
    color:white;
    font-size: 14px;
}

#f-labell{
    font-family: Montserrat Thin;
    color: #97B0AA;
    font-size: 18px;
}
